* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "04b";
  src: url("../font/04b.ttf");
}
@font-face {
  font-family: "04bf";
  src: url("../font/04bf.ttf");
}
@font-face {
  font-family: "tuson";
  src: url("../font/Tuson.ttf");
}
body,
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  cursor: default !important;
  -webkit-user-drag: none !important;
  -webkit-touch-callout: none !important;
  -webkit-overflow-scrolling: touch !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
}
:where(body),
:where(html) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  cursor: default !important;
  -webkit-user-drag: none !important;
  -webkit-touch-callout: none !important;
  -webkit-overflow-scrolling: touch !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
}
a,
a:visited {
  color: #fffff5;
}
/*Common-open*/
body {
  font-size: 16px;
  color: #fffff5;
  font-family: "04b";
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
svg {
  transition: all 0.5s;
}
div,
canvas,
span,
label {
  border-radius: 2px;
  display: flex;
}
.intro,.localStorage,.divTest,.firstLoading,.lockNoti {
  position:absolute;
  background-color: black;
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
  padding: 16px;
  transition: opacity 0.5s ease-in-out;
}
.gbc{
  margin: 8px 0px;
}
.in-game{
  position: fixed;
  width: calc(100vw - 32px);
  padding: 0 16px;
}
.flex-disable {
  display: block;
}
.disable,
.display-none {
  display: none;
}
.opacity0 {
  opacity: 0;
}
.flex-1 {
  flex: 1;
}
.cw {
  justify-content: center;
}
.ch {
  align-items: center;
}
.column {
  flex-direction: column;
}
.margin-15 {
  margin: 15px;
}
.gap-28 {
  gap: 28px;
}
.gap-34 {
  gap: 34px;
}
.gap-48 {
  gap: 48px;
}
.gap-42 {
  gap: 42px;
}
.gap-30 {
  gap: 30px;
}
.gap-16 {
  gap: 16px;
}
.gap-15 {
  gap: 15px;
}
.gap-10 {
  gap: 10px;
}
.gap-8 {
  gap: 8px;
}
.gap-4 {
  gap: 4px;
}
.between {
  justify-content: space-between;
}
.right {
  justify-content: flex-end;
}
.nipple div {
  border: 1px solid gray;
}
.nipple .back {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  border: 0px;
}
.nipple .front {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  border: 0px;
}
.touched {
  background-color: #383838 !important;
}
.touched-1 {
  background: linear-gradient(0deg, rgba(56,56,56,0) 0%, rgba(56,56,56,1) 100%);
}
.br0 {
  border-radius: 0px !important;
}
#target-boxes {
  transition: padding-top 0.5s;
  height: 1px;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeInLeft {
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
/*Common-close*/

/*ID-close*/
#additionalDiv {
  transition: background-color 0.5s ease-in-out;
}
#canvas.disabled {
  display: none;
}
#gamepad {
  display: none;
}
#gamepad.active {
  display: flex;
}
#rom-list {
  padding:0px 8px;
  max-height: 117px;
  overflow: auto;
  scroll-margin-block: -9999px;
}
/*ID-close*/

/*Intro-open*/
.logo {
  margin-top: 100px;
  width: 100px;
  height: 100px;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100' height='100' fill='%23252525'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M78.5597 46.9431C78.7885 46.986 79 46.8105 79 46.5777V34.0128C79 26.826 73.174 21 65.9872 21C58.8004 21 52.9744 26.826 52.9744 34.0128C52.9744 41.1996 58.8004 47.0256 65.9872 47.0256C68.5914 47.0256 71.0169 46.2607 73.0513 44.9432V45.6017C73.0513 45.7806 73.1787 45.9342 73.3546 45.9671L78.5597 46.9431ZM73.0513 34.0128C73.0513 37.9142 69.8886 41.0769 65.9872 41.0769C62.0858 41.0769 58.9231 37.9142 58.9231 34.0128C58.9231 30.1114 62.0858 26.9487 65.9872 26.9487C69.8886 26.9487 73.0513 30.1114 73.0513 34.0128Z' fill='%23FFFFF5'/%3E%3Cpath d='M79 54.3983C79 54.2194 78.8726 54.0659 78.6967 54.0329L73.4916 53.0569C73.2628 53.014 73.0513 53.1895 73.0513 53.4223V65.9872C73.0513 69.8886 69.8886 73.0513 65.9872 73.0513C62.0858 73.0513 58.9231 69.8886 58.9231 65.9872V54.3983C58.9231 54.2194 58.7957 54.0659 58.6198 54.0329L53.4147 53.0569C53.1859 53.014 52.9744 53.1895 52.9744 53.4223V65.9872C52.9744 73.174 58.8004 79 65.9872 79C73.174 79 79 73.174 79 65.9872V54.3983Z' fill='%23FFFFF5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M41.0769 21.448C41.0769 21.2152 41.2884 21.0397 41.5172 21.0826L46.7224 22.0585C46.8982 22.0915 47.0256 22.245 47.0256 22.4239V23.9744C47.0256 28.0153 45.1837 31.6261 42.2936 34.0128C45.1837 36.3996 47.0256 40.0103 47.0256 44.0513V46.5777C47.0256 46.8105 46.8141 46.986 46.5853 46.9431L41.3802 45.9671C41.2044 45.9342 41.0769 45.7806 41.0769 45.6017V44.0513C41.0769 40.1499 37.9142 36.9872 34.0128 36.9872C30.1114 36.9872 26.9487 40.1499 26.9487 44.0513V55.0568C28.9831 53.7393 31.4086 52.9744 34.0128 52.9744C41.1996 52.9744 47.0256 58.8004 47.0256 65.9872C47.0256 73.174 41.1996 79 34.0128 79C26.826 79 21 73.174 21 65.9872V21.4473C21 21.2147 21.2111 21.0393 21.4398 21.0818L26.6449 22.0497C26.821 22.0825 26.9487 22.2361 26.9487 22.4153V33.1209C28.9831 31.8034 31.4086 31.0385 34.0128 31.0385C37.9142 31.0385 41.0769 27.8758 41.0769 23.9744V21.448ZM41.0769 65.9872C41.0769 69.8886 37.9142 73.0513 34.0128 73.0513C30.1114 73.0513 26.9487 69.8886 26.9487 65.9872C26.9487 62.0858 30.1114 58.9231 34.0128 58.9231C37.9142 58.9231 41.0769 62.0858 41.0769 65.9872Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.file-section {
  width: 100px;
  height: 100px;
}
.select-file {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='100' viewBox='0 0 46 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 44.6742C17 43.9175 17.8079 43.435 18.4741 43.7937L28.3648 49.1195C29.066 49.4971 29.066 50.5029 28.3648 50.8805L18.4741 56.2063C17.8079 56.565 17 56.0825 17 55.3258V44.6742Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.select-position {
  height: 50px;
}
.select-lv {
  padding: 16px 16px 14px 16px;
}
.select-lv .flex-1 {
  border-radius: 0.5px;
}
.pt-num {
  padding: 5px 12px 0px 14px;
}
.pt-tex {
  margin: -9px 12px 0px 14px;
  opacity: 0.4;
}
.rom-list {
  margin-bottom: 30px;
}
.rom-list div,
.rom-item {
  padding: 24px 8px 6px 8px;
  border-bottom: 1px solid #0f0f0f;
  color: #787874;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
/*Intro-close*/

/*in-game-open*/
.dpad-l {
  z-index: 10;
  background: url("data:image/svg+xml,%3Csvg width='44' height='175' viewBox='0 0 44 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 80.2C19 80.0895 18.9105 80 18.8 80H17.2C17.0895 80 17 80.0895 17 80.2V93.8C17 93.9105 17.0895 94 17.2 94H26.8C26.9105 94 27 93.9105 27 93.8V92.2C27 92.0895 26.9105 92 26.8 92H19.2C19.0895 92 19 91.9105 19 91.8V80.2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.load-state {
  width: 44px;
  height: 80px;
  position: absolute;
  z-index: 12;
}
.canvas-container{
  border-radius: 0px 0px 2px 2px;
  background-color:#111111;
  width: calc(100vw - 150px);
  height: calc((100vw - 150px) * 2 / 3);
  overflow: hidden;
}
.canvas {
  border-radius: 0px 0px 0px 0px;
  image-rendering: pixelated;
  /* filter: brightness(1) contrast(1.1) saturate(1.4) hue-rotate(4deg) sepia(0.4) */
}
.shader,
.message-container {
  position: absolute;
  width: calc(100vw - 150px);
  height: calc((100vw - 150px) * 2 / 3);
  overflow: hidden;
  border-radius: 0px 0px 2px 2px;
}
.message {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px 4px 2px 6px;
  margin: 4px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.message.act {
  opacity: 1;
}
.sd-1 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.963418 0.999959C0.863343 0.999959 0.764963 0.999959 0.666504 0.999959C0.666504 0.888877 0.666504 0.777794 0.666504 0.666626C0.777531 0.666626 0.888638 0.666626 0.999837 0.666626C0.999837 0.777614 0.999837 0.888687 0.999837 0.999959C0.988324 0.999959 0.976718 0.999959 0.963418 0.999959Z' fill='%23E70000' fill-opacity='0.1'/%3E%3Cpath d='M0.963418 0.666707C0.863343 0.666707 0.764963 0.666707 0.666504 0.666707C0.666504 0.555625 0.666504 0.444542 0.666504 0.333374C0.777531 0.333374 0.888638 0.333374 0.999837 0.333374C0.999837 0.444362 0.999837 0.555435 0.999837 0.666707C0.988324 0.666707 0.976718 0.666707 0.963418 0.666707Z' fill='%23E70000' fill-opacity='0.04'/%3E%3Cpath d='M0.296914 0.999959C0.196839 0.999959 0.0984593 0.999959 0 0.999959C0 0.888877 0 0.777794 0 0.666626C0.111027 0.666626 0.222134 0.666626 0.333333 0.666626C0.333333 0.777614 0.333333 0.888687 0.333333 0.999959C0.32182 0.999959 0.310214 0.999959 0.296914 0.999959Z' fill='%2300DBC8' fill-opacity='0.08'/%3E%3Cpath d='M0.296914 0.666707C0.196839 0.666707 0.0984593 0.666707 0 0.666707C0 0.555625 0 0.444542 0 0.333374C0.111027 0.333374 0.222134 0.333374 0.333333 0.333374C0.333333 0.444362 0.333333 0.555435 0.333333 0.666707C0.32182 0.666707 0.310214 0.666707 0.296914 0.666707Z' fill='%2300DBC8' fill-opacity='0.04'/%3E%3Cpath d='M0.63041 0.999959C0.530335 0.999959 0.431955 0.999959 0.333496 0.999959C0.333496 0.888877 0.333496 0.777794 0.333496 0.666626C0.444523 0.666626 0.55563 0.666626 0.666829 0.666626C0.666829 0.777614 0.666829 0.888687 0.666829 0.999959C0.655317 0.999959 0.64371 0.999959 0.63041 0.999959Z' fill='%230000DF' fill-opacity='0.1'/%3E%3Cpath d='M0.63041 0.666707C0.530335 0.666707 0.431955 0.666707 0.333496 0.666707C0.333496 0.555625 0.333496 0.444542 0.333496 0.333374C0.444523 0.333374 0.55563 0.333374 0.666829 0.333374C0.666829 0.444362 0.666829 0.555435 0.666829 0.666707C0.655317 0.666707 0.64371 0.666707 0.63041 0.666707Z' fill='%230000DF' fill-opacity='0.04'/%3E%3Crect width='1' height='0.333333' fill='black' fill-opacity='0.4'/%3E%3Cpath d='M0.963418 0.333333C0.863343 0.333333 0.764963 0.333333 0.666504 0.333333C0.666504 0.222251 0.666504 0.111168 0.666504 0C0.777531 0 0.888638 0 0.999837 0C0.999837 0.110988 0.999837 0.222061 0.999837 0.333333C0.988324 0.333333 0.976718 0.333333 0.963418 0.333333Z' fill='%23E70000' fill-opacity='0.04'/%3E%3Cpath d='M0.296914 0.333333C0.196839 0.333333 0.0984593 0.333333 0 0.333333C0 0.222251 0 0.111168 0 0C0.111027 0 0.222134 0 0.333333 0C0.333333 0.110988 0.333333 0.222061 0.333333 0.333333C0.32182 0.333333 0.310214 0.333333 0.296914 0.333333Z' fill='%2300DBC8' fill-opacity='0.04'/%3E%3Cpath d='M0.63041 0.333333C0.530335 0.333333 0.431955 0.333333 0.333496 0.333333C0.333496 0.222251 0.333496 0.111168 0.333496 0C0.444523 0 0.55563 0 0.666829 0C0.666829 0.110988 0.666829 0.222061 0.666829 0.333333C0.655317 0.333333 0.64371 0.333333 0.63041 0.333333Z' fill='%230000DF' fill-opacity='0.04'/%3E%3C/svg%3E%0A");
}
.sd-2 {
  background-image: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='0.333333' height='0.333333' fill='black'/%3E%3Crect y='0.333496' width='0.333333' height='0.333333' fill='%23FF0000'/%3E%3Crect y='0.666504' width='0.333333' height='0.333333' fill='%23FF0000'/%3E%3Crect x='0.333374' width='0.333333' height='0.333333' fill='black'/%3E%3Crect x='0.333374' y='0.333496' width='0.333333' height='0.333333' fill='%2300FF00'/%3E%3Crect x='0.333374' y='0.666504' width='0.333333' height='0.333333' fill='%2300FF00'/%3E%3Crect x='0.666626' width='0.333333' height='0.333333' fill='black'/%3E%3Crect x='0.666626' y='0.333496' width='0.333333' height='0.333333' fill='%230000FF'/%3E%3Crect x='0.666626' y='0.666504' width='0.333333' height='0.333333' fill='%230000FF'/%3E%3C/svg%3E%0A");
}
.sd-3 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.890741 0.25C0.590518 0.25 0.295378 0.25 0 0.25C0 0.166688 0 0.0833763 0 0C0.333082 0 0.666402 0 1 0C1 0.0832407 1 0.166546 1 0.25C0.965461 0.25 0.930643 0.25 0.890741 0.25Z' fill='%23240A31' fill-opacity='0.6'/%3E%3Cpath d='M0.890741 1C0.590518 1 0.295378 1 0 1C0 0.916688 0 0.833376 0 0.75C0.333082 0.75 0.666402 0.75 1 0.75C1 0.833241 1 0.916546 1 1C0.965461 1 0.930643 1 0.890741 1Z' fill='%23072024' fill-opacity='0.7'/%3E%3Crect y='0.25' width='1' height='0.25' fill='%23BE7DB8' fill-opacity='0.2'/%3E%3Crect y='0.5' width='1' height='0.25' fill='%234D6757' fill-opacity='0.3'/%3E%3Crect width='0.25' height='1' transform='matrix(1 0 0 -1 0 1)' fill='black' fill-opacity='0.04'/%3E%3Crect width='0.25' height='1' transform='matrix(1 0 0 -1 0.5 1)' fill='black' fill-opacity='0.04'/%3E%3C/svg%3E%0A");
}
.sd-4 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.222685 1C0.147629 1 0.0738444 1 0 1C0 0.666753 0 0.333505 0 0C0.0832705 0 0.166601 0 0.25 0C0.25 0.332963 0.25 0.666184 0.25 1C0.241365 1 0.232661 1 0.222685 1Z' fill='%23240A31' fill-opacity='0.6'/%3E%3Cpath d='M0.972685 1C0.897629 1 0.823844 1 0.75 1C0.75 0.666753 0.75 0.333505 0.75 0C0.833271 0 0.916601 0 1 0C1 0.332963 1 0.666184 1 1C0.991365 1 0.982661 1 0.972685 1Z' fill='%23072024' fill-opacity='0.7'/%3E%3Crect x='0.25' width='0.25' height='1' fill='%23BE7DB8' fill-opacity='0.2'/%3E%3Crect x='0.5' width='0.25' height='1' fill='%234D6757' fill-opacity='0.3'/%3E%3Crect width='1' height='0.25' transform='matrix(1 0 0 -1 0 0.5)' fill='black' fill-opacity='0.04'/%3E%3Crect width='1' height='0.25' transform='matrix(1 0 0 -1 0 1)' fill='black' fill-opacity='0.04'/%3E%3C/svg%3E%0A");
}
.sd-5 {
  background-image: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.333374' y='0.333496' width='0.333333' height='0.333333' fill='%23FF0000'/%3E%3Crect x='0.333374' y='0.666504' width='0.333333' height='0.333333' fill='%2300FF00'/%3E%3Crect x='0.666626' y='0.333496' width='0.333333' height='0.333333' fill='%230000FF'/%3E%3Crect x='0.666626' y='0.666504' width='0.333333' height='0.333333' fill='%23FF00FF'/%3E%3C/svg%3E%0A");
}
.sd-6 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='0.333333' height='0.333333' fill='%23980000' fill-opacity='0.2'/%3E%3Crect y='0.666504' width='0.333333' height='0.333333' fill='%23980000' fill-opacity='0.2'/%3E%3Crect y='0.666504' width='0.333333' height='0.333333' fill='black' fill-opacity='0.38'/%3E%3Crect y='0.333496' width='0.333333' height='0.333333' fill='%23980000' fill-opacity='0.2'/%3E%3Crect y='0.333496' width='0.333333' height='0.333333' fill='black' fill-opacity='0.04'/%3E%3Crect x='0.333984' width='0.333333' height='0.333333' fill='%23009D9D' fill-opacity='0.15'/%3E%3Crect x='0.333984' y='0.333496' width='0.333333' height='0.333333' fill='%23009D9D' fill-opacity='0.15'/%3E%3Crect x='0.333984' y='0.333496' width='0.333333' height='0.333333' fill='black' fill-opacity='0.04'/%3E%3Crect x='0.333984' y='0.666504' width='0.333333' height='0.333333' fill='%23009D9D' fill-opacity='0.15'/%3E%3Crect x='0.333984' y='0.666504' width='0.333333' height='0.333333' fill='black' fill-opacity='0.37'/%3E%3Crect x='0.666016' width='0.333333' height='0.333333' fill='%230000B0' fill-opacity='0.16'/%3E%3Crect x='0.666016' y='0.333496' width='0.333333' height='0.333333' fill='%230000B0' fill-opacity='0.16'/%3E%3Crect x='0.666016' y='0.333496' width='0.333333' height='0.333333' fill='black' fill-opacity='0.04'/%3E%3Crect x='0.666016' y='0.666504' width='0.333333' height='0.333333' fill='%230000B0' fill-opacity='0.16'/%3E%3Crect x='0.666016' y='0.666504' width='0.333333' height='0.333333' fill='black' fill-opacity='0.35'/%3E%3C/svg%3E%0A");
}
.sd-7 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.963418 0.999959C0.863343 0.999959 0.764963 0.999959 0.666504 0.999959C0.666504 0.888877 0.666504 0.777794 0.666504 0.666626C0.777531 0.666626 0.888638 0.666626 0.999837 0.666626C0.999837 0.777614 0.999837 0.888687 0.999837 0.999959C0.988324 0.999959 0.976718 0.999959 0.963418 0.999959Z' fill='%23E70000' fill-opacity='0.16'/%3E%3Cpath d='M0.963418 0.666707C0.863343 0.666707 0.764963 0.666707 0.666504 0.666707C0.666504 0.555625 0.666504 0.444542 0.666504 0.333374C0.777531 0.333374 0.888638 0.333374 0.999837 0.333374C0.999837 0.444362 0.999837 0.555435 0.999837 0.666707C0.988324 0.666707 0.976718 0.666707 0.963418 0.666707Z' fill='%23E70000' fill-opacity='0.12'/%3E%3Cpath d='M0.296914 0.999959C0.196839 0.999959 0.0984593 0.999959 0 0.999959C0 0.888877 0 0.777794 0 0.666626C0.111027 0.666626 0.222134 0.666626 0.333333 0.666626C0.333333 0.777614 0.333333 0.888687 0.333333 0.999959C0.32182 0.999959 0.310214 0.999959 0.296914 0.999959Z' fill='%2300DBC8' fill-opacity='0.16'/%3E%3Cpath d='M0.296914 0.666707C0.196839 0.666707 0.0984593 0.666707 0 0.666707C0 0.555625 0 0.444542 0 0.333374C0.111027 0.333374 0.222134 0.333374 0.333333 0.333374C0.333333 0.444362 0.333333 0.555435 0.333333 0.666707C0.32182 0.666707 0.310214 0.666707 0.296914 0.666707Z' fill='%2300DBC8' fill-opacity='0.12'/%3E%3Cpath d='M0.63041 0.999959C0.530335 0.999959 0.431955 0.999959 0.333496 0.999959C0.333496 0.888877 0.333496 0.777794 0.333496 0.666626C0.444523 0.666626 0.55563 0.666626 0.666829 0.666626C0.666829 0.777614 0.666829 0.888687 0.666829 0.999959C0.655317 0.999959 0.64371 0.999959 0.63041 0.999959Z' fill='%230000DF' fill-opacity='0.16'/%3E%3Cpath d='M0.63041 0.666707C0.530335 0.666707 0.431955 0.666707 0.333496 0.666707C0.333496 0.555625 0.333496 0.444542 0.333496 0.333374C0.444523 0.333374 0.55563 0.333374 0.666829 0.333374C0.666829 0.444362 0.666829 0.555435 0.666829 0.666707C0.655317 0.666707 0.64371 0.666707 0.63041 0.666707Z' fill='%230000DF' fill-opacity='0.12'/%3E%3Crect width='1' height='0.333333' fill='black' fill-opacity='0.5'/%3E%3Cpath d='M0.963418 0.333333C0.863343 0.333333 0.764963 0.333333 0.666504 0.333333C0.666504 0.222251 0.666504 0.111168 0.666504 0C0.777531 0 0.888638 0 0.999837 0C0.999837 0.110988 0.999837 0.222061 0.999837 0.333333C0.988324 0.333333 0.976718 0.333333 0.963418 0.333333Z' fill='%23E70000' fill-opacity='0.12'/%3E%3Cpath d='M0.296914 0.333333C0.196839 0.333333 0.0984593 0.333333 0 0.333333C0 0.222251 0 0.111168 0 0C0.111027 0 0.222134 0 0.333333 0C0.333333 0.110988 0.333333 0.222061 0.333333 0.333333C0.32182 0.333333 0.310214 0.333333 0.296914 0.333333Z' fill='%2300DBC8' fill-opacity='0.12'/%3E%3Cpath d='M0.63041 0.333333C0.530335 0.333333 0.431955 0.333333 0.333496 0.333333C0.333496 0.222251 0.333496 0.111168 0.333496 0C0.444523 0 0.55563 0 0.666829 0C0.666829 0.110988 0.666829 0.222061 0.666829 0.333333C0.655317 0.333333 0.64371 0.333333 0.63041 0.333333Z' fill='%230000DF' fill-opacity='0.12'/%3E%3C/svg%3E%0A");
}
.sd-8 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.98' y='0.75' width='1' height='0.25' fill='black'/%3E%3Crect opacity='0.98' y='0.25' width='1' height='0.25' fill='black'/%3E%3Crect opacity='0.68' width='0.25' height='1' fill='black'/%3E%3Crect opacity='0.68' x='0.5' width='0.25' height='1' fill='black'/%3E%3C/svg%3E%0A");
}
.sd-9 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.38' y='0.75' width='1' height='0.25' fill='black'/%3E%3Crect opacity='0.38' y='0.25' width='1' height='0.25' fill='black'/%3E%3Crect opacity='0.08' width='0.25' height='1' fill='black'/%3E%3Crect opacity='0.08' x='0.5' width='0.25' height='1' fill='black'/%3E%3C/svg%3E%0A");
}
.sd-10 {
  background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.38' y='0.5' width='1' height='0.5' fill='black'/%3E%3Crect opacity='0.08' width='0.5' height='1' fill='black'/%3E%3C/svg%3E%0A");
}
.dpad-r {
  z-index: 10;
  background: url("data:image/svg+xml,%3Csvg width='44' height='175' viewBox='0 0 44 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27 80.2C27 80.0895 26.9105 80 26.8 80H17.2C17.0895 80 17 80.0895 17 80.2V93.8C17 93.9105 17.0895 94 17.2 94H18.8C18.9105 94 19 93.9105 19 93.8V82.2C19 82.0895 19.0895 82 19.2 82H24.8C24.9105 82 25 82.0895 25 82.2V85.8C25 85.9105 24.9105 86 24.8 86H22.2C22.0895 86 22 86.0895 22 86.2V87.8C22 87.9105 22.0895 88 22.2 88H24.8C24.9105 88 25 88.0895 25 88.2V93.8C25 93.9105 25.0895 94 25.2 94H26.8C26.9105 94 27 93.9105 27 93.8V80.2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.save-state {
    width: 44px;
    height: 80px;
    position: absolute;
    z-index: 12;
    right: 16px;
}
.ocr {
  height: 26px;
  width: 22px;
  background: url("data:image/svg+xml,%3Csvg width='22' height='26' viewBox='0 0 22 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='14' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect x='6' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect x='10' y='8' width='2' height='2' fill='%23E0C068'/%3E%3Crect x='12' y='10' width='2' height='6' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='12' y='8' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='10' y='10' width='2' height='6' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='14' y='10' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='16' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='14' y='14' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='12' y='16' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='14' y='16' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='16' y='14' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='12' y='18' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='8' y='18' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='10' y='20' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='18' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='2' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='14' y='8' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='6' y='8' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='8' y='6' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='4' y='10' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='4' y='14' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='16' y='10' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='12' y='6' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='10' y='4' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='10' y='2' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='12' y='4' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='14' y='6' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='16' y='8' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='18' y='10' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='20' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='18' y='14' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='16' y='16' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='14' y='18' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='12' y='20' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='10' y='22' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='8' y='20' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='6' y='18' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='4' y='16' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='2' y='14' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='2' y='10' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='4' y='8' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='6' y='6' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.1' x='8' y='4' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.2' x='6' y='16' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='10' y='18' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='8' y='16' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='6' y='14' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='4' y='12' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='6' y='10' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='8' y='8' width='2' height='2' fill='%23E0C068'/%3E%3Crect opacity='0.4' x='10' y='6' width='2' height='2' fill='%23E0C068'/%3E%3Crect x='10' y='16' width='2' height='2' fill='%23E0C068'/%3E%3Crect x='8' y='10' width='2' height='6' fill='%23E0C068'/%3E%3C/svg%3E%0A");
}
.emu-menu,
.setting {
  height: 26px;
}
.dpad-state {
  width: 44px;
  transition: background-image 0.2s ease-in-out;
  background: url("data:image/svg+xml,%3Csvg width='44' height='26' viewBox='0 0 44 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 14H19V16H15V10H21V12H17V14Z' fill='%23FFFFF5'/%3E%3Cpath opacity='0.4' d='M27 12H25V10H29V16H23V14H27V12Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.dpad-state.active {
  background: url("data:image/svg+xml,%3Csvg width='44' height='26' viewBox='0 0 44 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='44' height='26' fill='%23FFFFF5'/%3E%3Cpath d='M17 14H19V16H15V10H21V12H17V14Z' fill='black'/%3E%3Cpath d='M27 12H25V10H29V16H23V14H27V12Z' fill='black'/%3E%3C/svg%3E%0A");
}

.dpad-select {
  background: url("data:image/svg+xml,%3Csvg width='96' height='26' viewBox='0 0 96 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M37 8H45V10H39V12H45V18H37V16H43V14H37V8Z' fill='%23FFFFF5'/%3E%3Cpath d='M53 18H47V12H53V14H49V16H53V18Z' fill='%23FFFFF5'/%3E%3Cpath d='M59 18H55V10H57V12H59V14H57V16H59V18Z' fill='%23FFFFF5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.dpad-start {
  background: url("data:image/svg+xml,%3Csvg width='96' height='26' viewBox='0 0 96 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M36 8H44V10H38V12H44V18H36V16H42V14H36V8Z' fill='%23FFFFF5'/%3E%3Cpath d='M50 18H46V10H48V12H50V14H48V16H50V18Z' fill='%23FFFFF5'/%3E%3Cpath d='M54 12H60V18H52V14H54V16H58V14H54V12Z' fill='%23FFFFF5'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.dpad-menu {
  width: 44px;
  transition: background-image 0.2s ease-in-out;
  background: url("data:image/svg+xml,%3Csvg width='44' height='26' viewBox='0 0 44 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='15' y='10' width='2' height='6' fill='%23FFFFF5'/%3E%3Crect x='21' y='10' width='2' height='6' fill='%23FFFFF5'/%3E%3Crect x='27' y='10' width='2' height='6' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.dpad-menu.active {
  background: url("data:image/svg+xml,%3Csvg width='44' height='26' viewBox='0 0 44 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='44' height='26' fill='%23FFFFF5'/%3E%3Crect x='15' y='10' width='2' height='6' fill='black'/%3E%3Crect x='21' y='10' width='2' height='6' fill='black'/%3E%3Crect x='27' y='10' width='2' height='6' fill='black'/%3E%3C/svg%3E%0A");
}
.emu-control {
  width: calc(100vw - 32px);
  margin: 0px -15px;
  padding: 15px;
}
.dpad-a {
  background: url("data:image/svg+xml,%3Csvg width='96' height='70' viewBox='0 0 96 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.2 28C36.0895 28 36 28.0895 36 28.2V41.8C36 41.9105 36.0895 42 36.2 42H37.8C37.9105 42 38 41.9105 38 41.8V36.2C38 36.0895 38.0895 36 38.2 36H43.8C43.9105 36 44 36.0895 44 36.2V41.8C44 41.9105 44.0895 42 44.2 42H45.8C45.9105 42 46 41.9105 46 41.8V28.2C46 28.0895 45.9105 28 45.8 28H36.2ZM44 30.2C44 30.0895 43.9105 30 43.8 30H38.2C38.0895 30 38 30.0895 38 30.2V33.8C38 33.9105 38.0895 34 38.2 34H43.8C43.9105 34 44 33.9105 44 33.8V30.2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.dpad-turbo {
  width: 44px;
  transition: background-image 0.5s ease-in-out;
  background: url("data:image/svg+xml,%3Csvg width='44' height='70' viewBox='0 0 44 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.4' x='15' y='32' width='2' height='6' fill='%23FFFFF5'/%3E%3Crect opacity='0.4' x='21' y='28' width='2' height='14' fill='%23FFFFF5'/%3E%3Crect opacity='0.4' x='27' y='32' width='2' height='6' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.turbo-medium {
  background: url("data:image/svg+xml,%3Csvg width='44' height='70' viewBox='0 0 44 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.4' x='15' y='32' width='2' height='6' fill='%23FFFFF5'/%3E%3Crect x='21' y='28' width='2' height='14' fill='%23FFFFF5'/%3E%3Crect opacity='0.4' x='27' y='32' width='2' height='6' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.turbo-fast {
  background: url("data:image/svg+xml,%3Csvg width='44' height='70' viewBox='0 0 44 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='15' y='32' width='2' height='6' fill='%23FFFFF5'/%3E%3Crect x='21' y='28' width='2' height='14' fill='%23FFFFF5'/%3E%3Crect x='27' y='32' width='2' height='6' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.dpad-b {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background: url("data:image/svg+xml,%3Csvg width='96' height='70' viewBox='0 0 96 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36 28.2C36 28.0895 36.0895 28 36.2 28H45.8C45.9105 28 46 28.0895 46 28.2V41.8C46 41.9105 45.9105 42 45.8 42H36.2C36.0895 42 36 41.9105 36 41.8V28.2ZM43.8 40C43.9105 40 44 39.9105 44 39.8V36.2C44 36.0895 43.9105 36 43.8 36H38.2C38.0895 36 38 36.0895 38 36.2V39.8C38 39.9105 38.0895 40 38.2 40H43.8ZM43.8 34C43.9105 34 44 33.9105 44 33.8V30.2C44 30.0895 43.9105 30 43.8 30H38.2C38.0895 30 38 30.0895 38 30.2V33.8C38 33.9105 38.0895 34 38.2 34H43.8Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.dpad-blank {
  width: 44px;
}
.dpad {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
}
.d-pad {
  width: 142%;
  height: 142%;
  position: absolute;
  transform: rotate(45deg);
}
.pad-ul,
.pad-dr {
  width: 36px;
  height: 100%;
}
.pad-ur,
.pad-dl {
  width: 100%;
  height: 36px;
}
.pad-r::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    225deg,
    rgba(50, 50, 50, 0) 20%,
    rgba(50, 50, 50, 1) 100%
  );
}
.pad-r::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8 16C15.9105 16 16 15.9105 16 15.8L16 6.2C16 6.08954 15.9105 6 15.8 6L6.19996 6C6.0895 6 5.99996 6.08954 5.99996 6.2V7.8C5.99996 7.91046 6.0895 8 6.19996 8L13.8 8C13.9105 8 14 8.08954 14 8.2L14 15.8C14 15.9105 14.0895 16 14.2 16H15.8Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.pad-u::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(50, 50, 50, 0) 20%,
    rgba(50, 50, 50, 1) 100%
  );
}
.pad-u::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2 16C6.08954 16 6 15.9105 6 15.8L6 6.2C6 6.08954 6.08954 6 6.2 6L15.8 6C15.9105 6 16 6.08954 16 6.2V7.8C16 7.91046 15.9105 8 15.8 8L8.2 8C8.08954 8 8 8.08954 8 8.2L8 15.8C8 15.9105 7.91046 16 7.8 16H6.2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.pad-l::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(50, 50, 50, 0) 20%,
    rgba(50, 50, 50, 1) 100%
  );
}
.pad-l::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2 6C6.08954 6 6 6.08954 6 6.2L6 15.8C6 15.9105 6.08954 16 6.2 16H15.8C15.9105 16 16 15.9105 16 15.8V14.2C16 14.0895 15.9105 14 15.8 14L8.2 14C8.08954 14 8 13.9105 8 13.8L8 6.2C8 6.08954 7.91046 6 7.8 6H6.2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.pad-d::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    315deg,
    rgba(50, 50, 50, 0) 20%,
    rgba(50, 50, 50, 1) 100%
  );
}
.pad-d::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8 6C15.9105 6 16 6.08954 16 6.2L16 15.8C16 15.9105 15.9105 16 15.8 16H6.19996C6.0895 16 5.99996 15.9105 5.99996 15.8V14.2C5.99996 14.0895 6.0895 14 6.19996 14L13.8 14C13.9105 14 14 13.9105 14 13.8L14 6.2C14 6.08954 14.0895 6 14.2 6H15.8Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.set-shader,
.set-slot,
.cheat-input,
.statesName {
  padding: 2px 0px 0px 2px;
  text-align-last: center;
  color: #666666;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 2px;
  font-size: 16px;
  font-family: "04b";
}
.minus-shader {
  width: 26px;
  height: 26px;
  border-radius: 2px 0px 0px 2px;
  background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5556 8.89879C14.4775 8.82068 14.3509 8.82068 14.2728 8.89879L10.313 12.8586C10.2349 12.9367 10.2349 13.0633 10.313 13.1414L14.2728 17.1012C14.3509 17.1793 14.4775 17.1793 14.5556 17.1012L15.687 15.9699C15.7651 15.8918 15.7651 15.7651 15.687 15.687L13.1414 13.1414C13.0633 13.0633 13.0633 12.9367 13.1414 12.8586L15.687 10.313C15.7651 10.2349 15.7651 10.1083 15.687 10.0302L14.5556 8.89879Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.plus-shader {
  width: 26px;
  height: 26px;
  border-radius: 0px 2px 2px 0px;
  background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4442 8.89879C11.5223 8.82068 11.649 8.82068 11.7271 8.89879L15.6869 12.8586C15.765 12.9367 15.765 13.0633 15.6869 13.1414L11.7271 17.1012C11.649 17.1793 11.5223 17.1793 11.4442 17.1012L10.3129 15.9699C10.2347 15.8918 10.2347 15.7651 10.3129 15.687L12.8584 13.1414C12.9365 13.0633 12.9365 12.9367 12.8584 12.8586L10.3129 10.313C10.2347 10.2349 10.2347 10.1083 10.3129 10.0302L11.4442 8.89879Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.set-slot {
  max-width: 96px;
}
.set-restart {
  width: 44px;
  height: 26px;
  background: url("data:image/svg+xml,%3Csvg width='44' height='26' viewBox='0 0 44 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M15 9V17H29V9H25V11H27V15H17V11H19V9H15Z' fill='%23FFFFF5'/%3E%3Crect x='21' y='9' width='2' height='4' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.set-listStates {
  width: 44px;
  height: 26px;
  background: url("data:image/svg+xml,%3Csvg width='44' height='26' viewBox='0 0 44 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 9H21V17H15V9ZM19 15V11H17V15H19Z' fill='%23FFFFF5'/%3E%3Crect opacity='0.4' x='27' y='13' width='2' height='2' fill='%23FFFFF5'/%3E%3Crect opacity='0.4' x='23' y='13' width='2' height='2' fill='%23FFFFF5'/%3E%3Crect opacity='0.4' x='23' y='11' width='6' height='2' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.set-cloud{
  width: 44px;
  height: 26px;
  background: url("data:image/svg+xml,%3Csvg width='44' height='26' viewBox='0 0 44 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M15 9V17H17V15V11V9H15Z' fill='%23FFFFF5'/%3E%3Crect x='19' y='11' width='2' height='4' fill='%23FFFFF5'/%3E%3Crect x='23' y='11' width='2' height='4' fill='%23FFFFF5'/%3E%3Cpath opacity='0.4' d='M29 9V17H27V15V11V9H29Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.setting {
  opacity: 0;
  height: 0px;
  margin-top: 0px;
  overflow: hidden;
}
.setting.active {
  opacity: 1;
  height: 26px;
  margin-top: 15px;
  transition: height 0.4s ease-in-out, margin-top 0.4s ease-in-out,
  opacity 0.4s 0.3s ease-in-out;
}
.setting.inactive {
  opacity: 0;
  height: 0px;
  margin-top: 0px;
  transition: height 0.4s 0.3s ease-in-out, margin-top 0.4s 0.3s ease-in-out,
    opacity 0.4s 0s ease-in-out;
}
.dynamic {
  height: 1000px;
  width: 100%;
  position: relative;
}
/*in-game-close*/

/*Dialog-open*/
.mgba-storage {
  scroll-margin-block: -9999px;
}
.rom {
  margin-left: 16px;
  color: #fffff5;
  text-transform: lowercase;
}
.rom span {
  white-space: normal;
}
.storage {
  padding: 16px 8px;
}
.home {
  height: 26px;
  background: url("data:image/svg+xml,%3Csvg width='74' height='26' viewBox='0 0 74 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 13L33.2426 8.75739L34.6569 10.1716L32.8284 12H45V14H32.8284L34.6569 15.8285L33.2426 17.2427L29 13Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.upload-file {
  height: 26px;
  background: url("data:image/svg+xml,%3Csvg width='74' height='26' viewBox='0 0 74 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.8 16C33.9105 16 34 15.9105 34 15.8V8.2C34 8.08954 34.0895 8 34.2 8H35.8C35.9105 8 36 8.08954 36 8.2V17.8C36 17.9105 35.9105 18 35.8 18H28.2C28.0895 18 28 17.9105 28 17.8V8.2C28 8.08954 28.0895 8 28.2 8H29.8C29.9105 8 30 8.08954 30 8.2V15.8C30 15.9105 30.0895 16 30.2 16H33.8Z' fill='%23FFFFF5'/%3E%3Cpath d='M38 12.2C38 12.0895 38.0895 12 38.2 12H45.8C45.9105 12 46 12.0895 46 12.2V17.8C46 17.9105 45.9105 18 45.8 18H40.2C40.0895 18 40 18.0895 40 18.2V19.8C40 19.9105 39.9105 20 39.8 20H38.2C38.0895 20 38 19.9105 38 19.8V12.2ZM43.8 16C43.9105 16 44 15.9105 44 15.8V14.2C44 14.0895 43.9105 14 43.8 14H40.2C40.0895 14 40 14.0895 40 14.2V15.8C40 15.9105 40.0895 16 40.2 16H43.8Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.cloud-dropbox{
  height: 26px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transition: background-image 0.5s ease-in-out;
  background: url("data:image/svg+xml,%3Csvg width='74' height='26' viewBox='0 0 74 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8H24V10H18V16H24V18H16V8Z' fill='%23FFFFF5'/%3E%3Cpath d='M28 10V18H26V10H28Z' fill='%23FFFFF5'/%3E%3Cpath d='M38 12V18H30V12H38ZM32 16H36V14H32V16Z' fill='%23FFFFF5'/%3E%3Cpath d='M46 16V12H48V18H40V12H42V16H46Z' fill='%23FFFFF5'/%3E%3Cpath d='M58 18H50V12H56V10H58V18ZM52 14V16H56V14H52Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
  background-color: #252525;
}
.cloud-dropbox.active {
  background-image: url("data:image/svg+xml,%3Csvg width='74' height='26' viewBox='0 0 74 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='74' height='26' fill='%23E0C068'/%3E%3Cpath d='M16 8H24V10H18V16H24V18H16V8Z' fill='black'/%3E%3Cpath d='M28 10V18H26V10H28Z' fill='black'/%3E%3Cpath d='M38 12V18H30V12H38ZM32 16H36V14H32V16Z' fill='black'/%3E%3Cpath d='M46 16V12H48V18H40V12H42V16H46Z' fill='black'/%3E%3Cpath d='M58 18H50V12H56V10H58V18ZM52 14V16H56V14H52Z' fill='black'/%3E%3C/svg%3E%0A");
  background-color: #E0C068;
}
.cloud-restore{
  height: 26px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transition: background-image 0.5s ease-in-out;
  background: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Crect x='12' y='17' width='8' height='2' fill='%23FFFFF5'/%3E%3Cpath d='M16 15L20.2426 10.7574L18.8284 9.34315L17 11.1716V7H15V11.1716L13.1715 9.34315L11.7573 10.7574L16 15Z' fill='%23FFFFF5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #252525;
}
.cloud-restore.active {
  background: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='12' y='17' width='8' height='2' fill='%23FFFFF5'/%3E%3Cpath d='M16 15L20.2426 10.7574L18.8284 9.34315L17 11.1716V7H15V11.1716L13.1715 9.34315L11.7573 10.7574L16 15Z' fill='%23E0C068'/%3E%3C/svg%3E%0A");
  background-color: rgba(224, 192, 104, 0.2);
}
.cloud-backup {
  height: 26px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transition: background-image 0.5s ease-in-out;
  background: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Crect x='12' y='17' width='8' height='2' fill='%23FFFFF5'/%3E%3Cpath d='M16 7L20.2426 11.2426L18.8284 12.6569L17 10.8284V15H15V10.8284L13.1715 12.6569L11.7573 11.2426L16 7Z' fill='%23FFFFF5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #252525;
}
.cloud-backup.active {
  background: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='12' y='17' width='8' height='2' fill='%23FFFFF5'/%3E%3Cpath d='M16 7L20.2426 11.2426L18.8284 12.6569L17 10.8284V15H15V10.8284L13.1715 12.6569L11.7573 11.2426L16 7Z' fill='%23E0C068'/%3E%3C/svg%3E%0A");
  background-color: rgba(224, 192, 104, 0.2);
}
.mib {
  opacity: 0.4;
}
.save-game {
  width: 45px;
  height: 26px;
  margin-right: 9px;
  background-repeat: none;
  background-image: url("data:image/svg+xml,%3Csvg width='45' height='26' viewBox='0 0 45 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M17 8.2C17 8.08954 17.0895 8 17.2 8H23.8C23.9105 8 24 8.08954 24 8.2V9.8C24 9.91046 23.9105 10 23.8 10H19.2C19.0895 10 19 10.0895 19 10.2V15.8C19 15.9105 19.0895 16 19.2 16H28.8C28.9105 16 29 16.0895 29 16.2V17.8C29 17.9105 28.9105 18 28.8 18H17.2C17.0895 18 17 17.9105 17 17.8V8.2Z' fill='%23FFFFF5'/%3E%3Cpath d='M25 8.2C25 8.08954 25.0895 8 25.2 8H28.8C28.9105 8 29 8.08954 29 8.2V14.8C29 14.9105 28.9105 15 28.8 15H25.2C25.0895 15 25 14.9105 25 14.8V13.2C25 13.0895 25.0895 13 25.2 13H26.8C26.9105 13 27 12.9105 27 12.8V10.2C27 10.0895 26.9105 10 26.8 10H25.2C25.0895 10 25 9.91046 25 9.8V8.2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.download {
  width: 74px;
  height: 26px;
  background-repeat: none;
  background: url("data:image/svg+xml,%3Csvg width='74' height='26' viewBox='0 0 74 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 16V10H25V16H23ZM23 18H17V8H23V10H19V16H23V18Z' fill='%23FFFFF5'/%3E%3Cpath d='M35 12V18H27V12H35ZM29 16H33V14H29V16Z' fill='%23FFFFF5'/%3E%3Cpath d='M45 16V12H47V18H37V12H39V16H41V12H43V16H45Z' fill='%23FFFFF5'/%3E%3Cpath d='M49 12H57V18H55V14H51V18H49V12Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.delete {
  width: 74px;
  height: 26px;
  background-repeat: none;
  background: url("data:image/svg+xml,%3Csvg width='74' height='26' viewBox='0 0 74 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 16V10H21V16H19ZM19 18H13V8H19V10H15V16H19V18Z' fill='%23FFFFF5'/%3E%3Cpath d='M23 12H31V14H29V16H31V18H25V16H27V14H25V16H23V12Z' fill='%23FFFFF5'/%3E%3Cpath d='M35 10V18H33V10H35Z' fill='%23FFFFF5'/%3E%3Cpath d='M37 12H45V14H43V16H45V18H39V16H41V14H39V16H37V12Z' fill='%23FFFFF5'/%3E%3Cpath d='M51 18H47V10H49V12H51V14H49V16H51V18Z' fill='%23FFFFF5'/%3E%3Cpath d='M53 12H61V14H59V16H61V18H55V16H57V14H55V16H53V12Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.rename {
  width: 74px;
  height: 26px;
  background-repeat: none;
  background: url("data:image/svg+xml,%3Csvg width='74' height='26' viewBox='0 0 74 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31 18H23V8H31V10H25V12H31V14H25V16H31V18Z' fill='%23FFFFF5'/%3E%3Cpath d='M41 18H33V12H39V10H41V18ZM35 14V16H39V14H35Z' fill='%23FFFFF5'/%3E%3Cpath d='M45 10V12H43V10H45ZM45 14V18H43V14H45Z' fill='%23FFFFF5'/%3E%3Cpath d='M51 18H47V10H49V12H51V14H49V16H51V18Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.actionDiv {
  margin-top: 16px;
}
dialog {
  position: fixed;
  font-size: 16px;
  background-color: black;
  color: #fffff5;
  font-family: "04b";
  text-align: center;
  font-weight: 400;
  margin: auto;
  width: calc(100vw + 6px);
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s;
  border: none;
  box-shadow: none;
  outline: none;
}
dialog .storage {
  padding: 13px 5px;
}
dialog .rom-item {
  text-align: center;
  margin-top: 60px;
}
/*Dialog-close*/

/*Vba-open*/

.input-container {
  display: flex;
  padding: 1px 6px 3px 6px;
  font-family: "tuson";
  font-size: 8px;
  color: rgba(255, 255, 245, 1);
  border-radius: 0px;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  appearance: none;
  box-shadow: none;
  outline: none;
  caret-color: rgba(255, 255, 245, 0);
  border-radius: 0px;
}
.inputText {
  padding-right: 1px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
  max-width: 218px;
  border-radius: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
  height: 30px;
}
.no-inputText::-webkit-scrollbar {
  display: none;
}
.no-content {
  padding: 0;
}
.cs22 {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
  mix-blend-mode:luminosity;
}
#caret-tracker {
  animation: caret-blink 1s infinite alternate;
}
@keyframes caret-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes eye-1 {
  2% {
    y: 2px;
  }
  4% {
    y: 2.5px;
  }
  6% {
    y: 2.5px;
  }
  8% {
    y: 2px;
  }

  12% {
    y: 2px;
  }
  14% {
    y: 2.5px;
  }
  16% {
    y: 2.5px;
  }
  18% {
    y: 2px;
  }
  100% {
    y: 2px;
  }
}
@keyframes eye-2 {
  2% {
    y: 4px;
  }
  4% {
    y: 3.5px;
  }
  6% {
    y: 3.5px;
  }
  8% {
    y: 4px;
  }
  12% {
    y: 4px;
  }
  14% {
    y: 3.5px;
  }
  16% {
    y: 3.5px;
  }
  18% {
    y: 4px;
  }
  100% {
    y: 4px;
  }
}
@keyframes tail-1 {
  5% {
    x: 2px;
  }
  45% {
    x: 2px;
  }
  50% {
    x: 2px;
  }
  55% {
    x: 2px;
  }
  60% {
    x: 2px;
  }
  65% {
    x: 2px;
  }
  70% {
    x: 1px;
  }
  75% {
    x: 1px;
  }
  80% {
    x: 2px;
  }
  100% {
    x: 2px;
  }
}
@keyframes tail-2 {
  5% {
    x: 1px;
  }
  45% {
    x: 1px;
  }
  50% {
    x: 3px;
  }
  55% {
    x: 3px;
  }
  60% {
    x: 1px;
  }
  65% {
    x: 1px;
  }
  70% {
    x: 2px;
  }
  75% {
    x: 2px;
  }
  80% {
    x: 1px;
  }
  100% {
    x: 1px;
  }
}
.eye-1 {
  animation-name: eye-1;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.eye-2 {
  animation-name: eye-2;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.tail-1 {
  animation-name: tail-1;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.tail-2 {
  animation-name: tail-2;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
#rect1,#rect2,#rect3{
  transition: opacity 0.5s ease-in-out
}

#setAdjustment {
  transition: margin-top 0.5s ease-in-out
}

.slot-1,.slot-2,.slot-3,.slot-auto{
  background-color: #252525;
  height:50% !important;
  width:50% !important;
  position: absolute;


}
.slot-auto{
  border-radius:2px 0px 0px 0px;
}
.border-vertical {
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  width:2px;
  height: 100%;
  background-color: rgba(0, 0, 0);
  border-radius: 0px;
}
.border-horizontal {
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0);
  border-radius: 0px;
}
.slot-1{
  border-radius:0px 2px 0px 0px;
}
.slot-2{
  border-radius:0px 0px 0px 2px;
}
.slot-3{
  border-radius:0px 0px 2px 0px;
}
.slot-footer{
  position: relative;
  font-size: 8px;
  padding: 4px 8px 2px 8px;
  background-color: rgba(0, 0, 0, 0.40);
  border-radius: 0px;
}

.switch {
  height: 26px;
}

.switch::before {
  content: "";
  width: 16px;
  height: 2px;
  margin-left: 8px;
  background-color: rgba(255, 255, 245, 0.2);
}

.switch::after {
  content: "";
  position: relative;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 245, 1);
  border-radius: 0.5px;
  right: 16px;
  transition-property: right, background-color;
  transition-duration: 0.3s, 0.3s;

}

#autoStateCheck:checked + .switch::after {
  right:8px;
  background-color: #78C850;
}

.bc {
  background-color: #252525;
  background-repeat: no-repeat;
  background-position: center;
}
.bc1 {
  background-color: #323232;
  background-repeat: no-repeat;
  background-position: center;
}
.bc2 {
  background-color: #3c3c3c;
}
.bc3 {
  background-color: #fffff5;
}
.notification-container{
  height: 15px;
  border-radius: 2px 2px 0px 0px;
  font-size: 8px;
  color:rgba(255, 255, 245, 1);
  transition: color 0.4s ease-in-out;
}
.notification-container span{
  padding-top: 5px;
}

rect {
  transition: fill 0.4s ease-in-out ;
}
#path-1,#path-2,#path-3 {
  opacity: 0;
  animation: fadeInPath 0.5s ease-in-out forwards;
}
#path-1 { animation-delay: 0.5s; }
#path-2 { animation-delay: 1s; }
#path-3 { animation-delay: 1.5s; }
.firstLoading{
  opacity: 1;
  animation: firstLoading 0.5s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeInPath {
  from { opacity: 0; }
  to { opacity: 0.4; }
}
@keyframes firstLoading {
  from { opacity: 1; }
  to {
    opacity: 0; 
    pointer-events: none;
  }
}

.visible {
  opacity: 0;
  pointer-events: none;
}
#stateList, #lockNoti, #control-setting{
  transition: opacity 0.3s ease-in-out;
}
.timer {
  padding-top: 5px !important;
  padding-right: 3px !important;
  opacity: 0.2;
  font-family: "04bf" !important;
}
.stateDiv {
  flex-direction: column;
  border-radius: 0px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}
.stateImg,.stateInfo {
  font-size: 8px;
  border-radius: 0px;
}
.stateImg {
  aspect-ratio: 3 / 2;
  border-radius: 0px;
  background-clip: padding-box; 
  pointer-events: none;
}
.stateInfo {
  gap: 2px;
  padding-left: 6px;
  padding-bottom: 4px;
  justify-content: end;
  pointer-events: none;
}
.stateDate {
  opacity:0.4;
}
#stateList{
  background-color: rgba(0, 0, 0, 1);
}

.control-setting{
  font-size: 8px;
  border-radius: 0px 0px 0px 0px;
  background-color: #000;
  padding: 7px 8px 6px 8px;
  gap:5px;
}

.control-setting div div {
  align-items: flex-end;
}

.cs-name {
  opacity: 0.2;
  height: 10px;
}
.cs-detail {
  border-bottom: 1px solid rgba(255, 255, 245, 0.04);
  border-radius: 0px;
  gap: 3px;
  height: 10px
}
.cs-minus {
  width: 2px;
  height: 7px;
  background: url("data:image/svg+xml,%3Csvg width='2' height='7' viewBox='0 0 2 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M1 2H2V3H1V4H2V5H1V4H0V3H1V2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.cs-plus {
  width: 2px;
  height: 7px;
  background: url("data:image/svg+xml,%3Csvg width='2' height='7' viewBox='0 0 2 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M1 2H0V3H1V4H0V5H1V4H2V3H1V2Z' fill='%23FFFFF5'/%3E%3C/svg%3E%0A");
}
.cs-blank {
  width: 2px;
  height: 7px;
}
.cs-next {
  width: 2px;
  height: 7px;
  background: url("data:image/svg+xml,%3Csvg width='2' height='7' viewBox='0 0 2 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0V1H1V0ZM1 2H2V1H1V2ZM1 3V2H0V3H1ZM1 4V3H2V4H1ZM1 4V5H0V4H1Z' fill='%23FFFFF5' fill-opacity='0.4'/%3E%3C/svg%3E%0A");
}
.selected {
  color: #78C850;
}
#box1 {
  white-space: nowrap;
  overflow: hidden;
  width: 46px;
  text-overflow: ellipsis;
  display: block;
  text-align: left;
}